In [1]:
import numpy as np
import pandas as pd

In [6]:
df1 = pd.DataFrame([
    [1,2,3],
    [4,5,6]
], index=['A', 'B'], columns=['col1', 'col2', 'col3'])
df2 = pd.DataFrame([
    [7,8,9],
    [10,11,12]
], index=['A', 'B'], columns=['col4', 'col5', 'col6'])

In [8]:
df1

   col1  col2  col3
A     1     2     3
B     4     5     6

In [10]:
df2

   col4  col5  col6
A     7     8     9
B    10    11    12

In [12]:
pd.concat([df1, df2],join='inner')

Empty DataFrame
Columns: []
Index: [A, B, A, B]